@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
  --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif;
  
  /* You can put more theme variables here if you need */
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for lenis smooth scroll look */
::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  * {
    @apply border-gray-800 outline-none;
  }
}
